# Dependencies
node_modules/

# Environment variables (Neon DB secrets)
.env
.env.local
.env.production

# Build output
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store